/*Спецификация*/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4em;
    color: #000000;
}
* {
    box-sizing: border-box;
}
.wrapper__total {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
    color: #000;
}
ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.1em;
    text-align: left;
    margin-bottom: 92px;
}
p {
    margin: 0;
    padding: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
button {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}
.btn {
    padding: 22px 50px;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
    background: #6E9C9F;
    font-size: 17px;
    color: #FFFFFF;
}
.btn:hover {
    background: #509498;
}
.btn-ghost {
    padding: 22px 50px;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
    font-size: 17px;
    color: #6E9C9F;
    border: 1px solid #6E9C9F;
    background-color: #FFFFFF;
}
.btn-ghost:hover {
    background: #6E9C9F;
    color: #fff;
}
.section {
    padding-bottom: 130px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Header */
.header {
    padding: 51px 0 34px;
}
.header-fixed {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.header__color {
    background: #F1EADC;
    width: 45%;
    height: 826px;
    position: absolute;
    right: 0;
    top: 0;
}
.header__navigation {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
.logo__img {
    display: block;
}
.header__burger {
    display: none;
}
.header__nav {
    display: flex;
    margin-left: 145px;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 45px;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__nav-link {
    font-size: 15px;
}
.header__nav-link.active {
    font-weight: 700;
    color: #6E9C9F;
}
.header__tel {
    display: flex;
    margin-left: 170px;
    margin-right: 67px;
}
.header__tel-img {
    display: block;
    margin-right: 9px;
}
.header__tel-img:hover {
    background: url('/assets/img/icon/tel_hover.svg');
}
.header__tel-link {
    display: block;
    font-size: 15px;
    color: #000;
}
.header__basket {
    display: flex;
    position: relative;
}
.header__basket-img {
    display: block;
    position: relative;
}
.header__basket-num {
    display: flex;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #998E78;
    border-radius: 50px;
    color: #fff;
    width: 15px;
    height: 15px;
    font-size: 9px;
    justify-content: center;
    align-items: center;
}
/*Modal window*/

body.active {
    overflow: hidden;
    padding-right: 14px;
}
.modal {
    display: none;
}
.modal.active {
    display: block;
}
.modal-overlay {
    background: rgba(110, 156, 159, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 491px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 70px;
    background: #FFFFFF;
}
.close {
    display: flex;
    position: absolute;
    right: 32px;
    top: 32px;
}
.modal__title {
    font-size: 25px;
    line-height: 1.4em;
    margin-bottom: 35px;
}
.form-order__modal {
    display: flex;
    flex-direction: column;
}
.form__btn-modal {
    padding: 22px 108px;
    width: 351px;
    margin-top: 35px;
}
.form-order__input {
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    color: #868686;
    width: 100%;
    padding: 0px 20px 16px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}
.form-order__input:not(:first-child) {
    margin-top: 35px;
}
.form-order__input.error{
    box-shadow: 0 0 10px red;
}
.modal-window2.active {
    display: flex;
}
.modal-window2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 600px;
    height: auto;
    display: none;
    flex-direction: column;
    padding: 70px;
    background: #FFFFFF;
}
.modal__sms {
    margin: 0 auto;
    margin-bottom: 35px;
}
.modal__btn {
    border: 1px solid #6E9C9F;
    background-color: #FFFFFF;
    color: #6E9C9F;
    margin: 0 auto;
}
.modal__btn:hover {
    background: #6E9C9F;
    color: #FFFFFF;
}
.header__section {
    padding-bottom: 190px;
}
/*header-slaider*/
.header-wrap {
    position: relative;
    min-width: 0;
}
.header__wrapper {
    display: flex;
}
.header__offer {
    display: flex;
    padding: 145px 152px 112px 0;
    flex-direction: column;
}
.header__offer-title {
    font-size: 55px;
    margin-bottom: 45px;
}
.header__offer-text {
    font-size: 20px;
    width: 385px;
    text-align: right;
    margin-left: 15px;
    margin-bottom: 52px;
}
.header__offer-button {
    display: flex;
    margin-left: 90px;
}
.arrow-down {
    background: rgba(110, 156, 159, 0.1);
    padding: 19px 26px;
}
.hero__photo {
    display: block;
    width: 410px;
}
.header__photos {
    z-index: 10;
}
.header__photo2 {
    position: absolute;
    top: 123px;
    right: -90px;
    z-index: 8;
}
.header__photo3 {
    position: absolute;
    top: 393px;
    right: 360px;
    z-index: 8;
}

.header__offer-dots {
    display: flex;
    position: relative;
    margin-left: 286px;
}
.header-dot {
    width: 30px;
    height: 4px;
    background: #D1D1D1;
    margin-right: 12px;
}

.header-dot.active {
    background: #000000;
}
.header__slider .swiper-pagination-bullets {
    display: flex;
}
.header__slider .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: #D1D1D1;
    margin-right: 12px;
    border-radius: 0%;
}
.header__slider .swiper-pagination-bullet-active {
    background: #000000;
}

/* Section Products*/
.products__title {
    font-size: 40px;
}
.products__cards {
    display: flex;
    flex-wrap: wrap;
}
.product__card-photo {
    margin-bottom: 24px;
}
.product__card {
    margin-right: 30px;
    margin-bottom: 65px;
}
.product__card:nth-child(3n) {
    margin-right: 0;
}
.product__title {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 7px;
    text-align: center;
}
.product__prices {
    display: flex;
    justify-content: center;
}
.product__price.price-old {
    color: #9C9C9C;
    text-decoration: line-through;
    margin-right: 10px;
}
.product__price {
    color: #998E78;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.products__btn {
    display: block;
    width: 243px;
    margin: 0 auto;
}
/* Оверлей*/
.product__card-photo {
    position: relative;
}
.product__img {
    width: 350px;
    height: auto;
    display: block;
}
.photo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 350px;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background: rgba(110, 156, 159, 0.64); 
}
.product__card-photo:hover .photo-overlay {
    opacity: 1;
}
.overlay-arrow {
    display: block;
    padding: 228px 160px;
}
/* Секция Important*/
.important__title {
    font-size: 40px;
}
.important__aspects {
    display: flex;
}
.important__aspect {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-right: 30px;
}
.important__aspect:last-child {
    margin-right: 0;
}
.important__quality {
    width: 61px;
    height: 61px;
    margin-bottom: 37px;
}
.important__aspect-title {
    font-size: 25px;
    margin-bottom: 24px;
}
.important__aspect-text {
    width: 305px;
    font-weight: 500;
}
/*Section Team*/
.team__title {
    font-size: 40px;
}
.team__wrap {
    display: flex;
    position: relative;
    min-width: 0;
    min-height: 100%;
}
.team__photo{
    display: block;
    width: 700px;
    max-width: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}

.team__slides {
    display: flex;
}

.btn-prev {
    width: 28px;
    height: 14px;
    position: absolute;
    right: 0;
    left: 0px;
    z-index: 10;
    top: 230px;
    background: url(../assets/img/icon/left.svg);
}

.btn-prev:active {
    background: url(../assets/img/icon/left_gray.svg);
}

.btn-next {
    width: 28px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 230px;
    z-index: 10;
    background: url(../assets/img/icon/right_black.svg);
}

.btn-next:active {
    background: url(../assets/img/icon/right_gray.svg);
}

.team-dots {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    bottom: 61px;
}
.team-dot {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.36);
    margin-right: 12px;
}
.team-dot.active {
    background: #FFFFFF;
}
.team-dot:hover {
    cursor: pointer;
}

.swiper {
    width: 100%;
}
.team__photos .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: 110px;
    background: no-repeat;
}


.team__photos .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 61px;
    z-index: 1;
}
.team__photos .swiper-pagination-bullet {
    width: 30px;
    height: 4px;   
    background: rgba(255, 255, 255, 0.36);
    margin-right: 12px;
    border-radius: 0;
}
.team__photos .swiper-pagination-bullet-active {
    background: #FFFFFF;
}
.team__content {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    justify-content: center;
}
.team__content-title {
    font-size: 25px;
    margin-bottom: 28px;
}
.team__content-text {
    width: 255px;
    margin-bottom: 28px;
} 
.team__content-link {
    color: #6E9C9F;
    font-weight: 500;
    display: inline;
    max-width: max-content;
}
.team__content-link:hover {
    border-bottom: 1px solid #CEDEDF;
}
/*Footer*/
.footer {
    background: #F1EADC;
    padding: 101px 0;
}
.footer-wrap {
    display: flex;
}
.footer__policy {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.4em;
    color: #000000;
    margin-right: 81px;
}
.footer__logo-img {
    display: block;
    margin-bottom: 70px;
}
.footer__policy-copyright {
    margin-bottom: 6px;
}
.footer__policy-konf {
    margin-bottom: 6px;
}
.footer__nav {
    margin-right: 267px;
}
.footer__nav-list {
    display: flex;
}
.footer__nav-item {
    margin-right: 45px;
}
.footer__nav-item:last-child {
    margin-right: 0px;
}
.footer__nav-link {
    font-size: 15px;
}
.footer__nav-link-shop {
    margin-right: 10px;
    transition: all 2s ease;
}
.footer__nav-link.active {
    color: #6E9C9F;
    font-weight: 700;
}
.sub-menu {
    display: none;
    margin-top: 39px;
}
.sub-menu.active {
    display: block;
    transition: all 0.5s ease;
}
.sub-menu__item {
    font-size: 13px;
}
.sub-menu__item:last-child {
    margin-bottom: 0;
}
.footer__contact {
    display: flex;
    flex-direction: column;
    text-align: end;
}
.footer__tel-link {
    font-size: 15px;
    margin-bottom: 9px;
}
.footer__email {
    font-size: 15px;
    margin-bottom: 30px;
}
.footer__social {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
}
.footer__social-item {
    margin-right: 12px;
}
.footer__social-item:last-child {
    margin-right: 0;
}
.footer__payment {
    display: block;
    width: 68px;
    margin-left: auto;
}
/*SHOP*/
.section__shop {
    padding-top: 157px;
    padding-bottom: 130px;
}
.shop__title {
    font-size: 55px;
    line-height: 1.4em;
    margin-bottom: 26px;
}
.breadcrumbs {
    display: flex;
    margin-bottom: 214px;
}
.breadcrumbs-item:not(:last-child)::after {
    content: '-';
    margin-right: 13px;
    margin-left: 13px;
}
.breadcrumbs-link{
    font-weight: 500;
}
.breadcrumbs-item.active {
    color: #909090;
}
.shop__tabs {
    margin-bottom: 92px;
}
.tab__btn {
    font-size: 17px;
    font-weight: 500;
    padding: 19px 65px;
    border: 1px solid #000000;
    margin-right: 10px;
}
.tab__btn:last-child {
    margin-right: 0;
}
.tab__btn.active {
    color: #FFF;
    background: #000;
}
.shop__products{
    font-size: 17px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 65px;
}

.product__card.shop.active {
    display: block;
}

.product__card.shop {
    display: none;
}

.shop__pagination {
    display: flex;
    justify-content: center;
}
.shop__pages-btn {
    display: flex;
}
.pages__btn {
    width: 41px;
    height: 41px;
    border: 1px solid #000000;
    font-weight: 500;
    padding: 9px 16px;
    margin-right: 14px;
}
.pages__btn.active  {
    background: #000;
    color: #FFF;
}
.page__btn-arrow {
    display: flex;
    margin-top: 15px;
}
/*CARD PRODUCT*/
.shop-product__card {
    padding-top: 77px;
    padding-bottom: 167px;
}
.product__wrap {
    display: flex;
    margin-bottom: 93px;
}
.product__photo-img {
    width: 536px;
    margin-right: 74px;
}
.product__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.product__title.card {
    margin-bottom: 34px;
}
.product__prices.card {
    margin-bottom: 59px;
}
.product__price.card {
    font-size: 30px;
    font-weight: 500;
}
.product__price.price-old.card {
    font-size: 40px;
    font-weight: 500;
    margin-right: 29px;
}
.product__input {
    display: flex;
    margin-bottom: 59px;
}
.product__size-item.active {
    background: #000;
    color: #fff;
}
.product__size-item:not(:last-child) {
    margin-right: 23px;
}
.product__size-item input{
    display: none;
}
.product__size-item label {
    display: inline-block;
    cursor: pointer;
    width: 41px;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.product__color-item:not(:last-child){
    margin-right: 14px;
}
.product__color-item input {
    display: none;
}
.product__color-item label {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 41px;
    border: 1px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.product__color-item.active label {
    border: 1px solid #000000;
}
.product__color-item label.brown {
    background-color: #927876;
}
.product__color-item label.grey {
    background-color: #D5D5D5;
}
.product__color-item label.pink {
    background-color: #FD9696;
}
.product__color-item label.orange {
    background-color: #FDC796;
}
.product__ordered {
    display: flex;
}
.product__amount {
    margin-right: 11px;
    width: 68px;
    height: 68px;
    font-size: 20px;
    text-align: center;
    outline: none;
}
.button__basket {
    width: 268px;
}
.card__title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 67px;
}
.product__card.card {
    margin-bottom: 0;
}
/*ABOUT*/
.about__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.about__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 542px;
}
.about__title {
    font-size: 25px;
    margin-bottom: 46px;
}
.about__text:not(:last-child) {
    margin-bottom: 20px;
}
.about__btn {
    display: block;
    width: 260px;
    margin: 0 auto;
}
/*CONTACTS*/
.contacts__map {
    margin-bottom: 130px;
}
.contacts__wrapper {
    display: flex;
    justify-content: start;
    margin-bottom: 130px;
}
.contacts__wrap {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.contacts__wrap:not(:last-child){
    margin-right: 98px;
}
.contacts__name {
    margin-bottom: 20px;
}
.contact__title {
    font-size: 25px;
} 
.form-about {
    display: flex;
    flex-direction: column;
    width: 443px;
}
.form-about__input {
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    color: #868686;
    width: 350px;
    padding: 0px 20px 16px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}
.form-about__input:not(:first-child){
    margin-top: 35px;
}
.form-about__message {
    outline: none;
    border: none;
    resize: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    color: #868686;    
    border-bottom: 1px solid #000;
    margin-top: 35px;
}
.form-about__btn {
    width: 189px;
    margin-top: 35px;
}
.contacts__proof {
    display: none;
    background-color: #F1EADC;
    padding: 30px 76px;
    margin-top: 62px;
}
.contacts__proof.active {
    display: block;
}
/*BASKET*/
.form-basket__table {
    margin-bottom: 72px;
}
.basket__form-sell {
    text-align: start;
    font-size: 17px;
    font-weight: 500;
}
.basket__form-sell-head {
    font-size: 20px;
    padding-bottom: 26px;
    border-bottom: 1px solid #CCCCCC;
}
.basket__form-product {
    display: flex;
    align-items: center;
}
.basket__form-cross {
    margin-right: 45px;
}
.basket__form-img {
    width: 125px;
    margin-right: 36px;
    margin-top: 49px;
}
.basket__form-link {
    margin-right: 134px;
}
.basket__form-price {
    margin-right: 151px;
}
.basket__form-amount {
    width: 47px;
    height: 47px;
    text-align: center;
    margin-right: 238px;
}
.basket__form-coupon {
    display: flex;
    margin-bottom: 88px;
}
.form-coupon {
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    color: #868686;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    margin-right: 16px;
}
.button__coupon {
    margin-right: 337px;
}
.button__update {
    margin-left: auto;
}
.basket__form-total-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.basket__form-summa {
    display: flex;
    margin-bottom: 28px;
    margin-right: 403px;
    align-items: flex-start;
    font-weight: 500;
}
.basket__form-text {
    margin-right: 20px;
}
.basket__form-total-all {
    display: flex;
}
.basket__form-total{
    display: flex;
    background: #F1EADC;
    text-align: center;
    align-items: center;
    width: 287px;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-around;
    padding: 20px;
}

.basket__form-total-btn {
    margin-left: 15px;
}
/*ORDER*/
.form-order__wrap {
    display: flex;
}
.form-order__wrapper {
    display: flex;
    flex-direction: column;
}
.form-order {
    display: flex;
    flex-direction: column;
    margin-right: 313px;
    margin-bottom: 81px;
}
.form-order:last-child {
    margin-bottom: 0;
}
.form-order__title {
    font-size: 25px;
    margin-bottom: 47px;
}
.form-order__form {
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    color: #868686;
    width: 350px;
    padding: 0px 20px 16px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}
.form-order__form:not(:first-child){
    margin-top: 35px;
}
.form-order__message {
    outline: none;
    border: none;
    resize: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    color: #868686;
    border-bottom: 1px solid #000;
}
.form-order__order {
    width: 255px;
}
.form-order__table {
    margin-bottom: 159px;
    border-collapse: collapse;
}
.order-form__sell {
    text-align: start;
    font-size: 17px;
    font-weight: 500;
    padding: 15px 73px 15px 0;
    align-items: center;
}
.order-form__sell:last-child {
    padding-right: 0;
}
.order-form__sell-head {
    font-size: 20px;
}
.order-form__sell-total {
    background: #F1EADC;
    font-size: 20px;
}
.form-order__order-pay{
    position: relative;
    margin-bottom: 20px;
    color: #000;
    border: none;
}
.input-form {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.label-form {
    padding-left: 38px;
    font-size: 17px;
    color: #000;
    cursor: pointer;
}
.label-form::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
}
.label-form::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    transition: opacity .1s linear;
}
.input-form:checked+.label-form::after {
    opacity: 1;
}
.form-order__btn {
    margin-top: 47px;
}
/*CONFIRM*/
.confirm__wrap {
    display: flex;
    align-items: center;
}
.order__confirm {
    margin-right: 32px;
}
.order__confirm-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 350px;
}
.order__confirm-title {
    font-size: 25px;
    margin-bottom: 17px;
}
/*ADAPTIV*/
/* Large: 992px - 1289px */
@media (max-width: 1289px) {
    .container {
        max-width: 960px;
    }
    .header__color {
        height: 800px;
    }
    .header__nav {
        margin-left: 85px;
    }
    .header__tel{
        margin-left: 70px;
    }
    .header__offer-title {
        font-size: 45px;
    }
    .header__photo2 {
        top: 200px;
        right: -15px;
    }
    .header__photo3 {
        top: 368px;
        right: 260px;
    }
    .header__offer {
        padding-right: 112px;
    }   
    .product__img {
        width: 300px;
    }
    .photo-overlay{
        width: 300px;
    }
    .overlay-arrow {
        padding: 190px 134px;
    }
    .important__aspect{
        width: 300px;
    }
    .team__photo {
        width: 550px;
    }
    .btn-prev, .btn-next {
        top: 180px;
    }
    .team__content {
        margin-left: 70px;
    }
    .footer {
        padding: 90px 0;
    }
    .footer__nav {
        margin-right: 100px;
    }
    /*SHOP*/
    .section__shop {
        padding: 130px 0 100px;
    }
    .shop__title {
        font-size: 45px;
    }
    .breadcrumbs {
        margin-bottom: 130px;
    }
    .tab__btn {
        padding: 19px 50px;
    }
    .shop__tabs {
        margin-bottom: 65px;
    }
    /*PRODUCT*/
    .shop-product__card {
        padding-bottom: 100px;
    }
    /*BASKET*/
    .basket__form-price {
        margin-right: 130px;
    }
    .basket__form-amount {
        margin-right: 200px;
    }
    .button__coupon {
        margin-right: 200px;
    }
    /*ORDER*/
    .form-order__form {
        margin-bottom: 25px;
    }
    .order-form__sell {
        padding: 10px 73px 10px 0;
    }
    /*CONTACTS*/
    .contact__map {
        width: 960px;
        height: 380px;
    }
    .contacts__map {
        margin-bottom: 100px;
    }
    /*ABOUT*/
    .about__paragraph {
        width: 480px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .logo__img {
        width: 100px;
    }
    .header__nav {
        margin-left: 45px;
    }
    .header__tel {
        margin-left: 35px;
        margin-right: 35px;
    }
    .header__nav-item {
        margin-right: 20px;
    }
    .header__color {
        height: 630px;
    }
    .header__section {
        padding-bottom: 130px;
    }
    .header__offer {
        padding: 100px 60px 55px 0;
    }
    .header__offer-title {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .header__offer-text {
        font-size: 17px;
        width: 300px;
        margin-bottom: 30px;
    }
    .header__offer-button {
        margin-left: 0;
    }
    .header__offer-dots {
        margin-left: 186px;
    }
    .header__photo2 {
        width: 150px;
        top: 150px;
        right: -15px;
    }
    .header__photo3 {
        width: 150px;
        top: 268px;
        right: 200px;
    }
    .hero__photo {
        width: 300px;
    }
    .product__img {
        width: 220px;
    }
    .photo-overlay {
        width: 220px;
    }
    .overlay-arrow {
        padding: 136px 94px;
    }
    .important__aspect {
        width: 220px;
    }
    .important__aspect-text {
        width: 220px;
    }
    .team__wrap {
        flex-direction: column;
        align-items: center;
    }
    .team__photo {
        margin-left: 0;
    }
    .btn-prev {
        left: 0px;
    }
    .team-dots {
        bottom: 91px;
    }
    .team__slides {
        margin-bottom: 50px;
    }
    .team__content {
        margin-left: 0;
        align-items: center;
    }
    .team__content-text {
        text-align: center;
    }
    .footer__logo-img {
        width: 100px;
    }
    .footer__policy {
        margin-right: 30px;
    }
    .footer__nav {
        margin-right: 30px;
    }
    .footer__nav-item {
        margin-right: 20px;
    }
    .footer__email {
        font-size: 13px;
    }
    .footer__policy-konf {
        width: max-content;
    }
    /*SHOP*/
    .section__shop {
        padding-top: 100px;
    }
    .shop__title {
        font-size: 35px;
    }
    .breadcrumbs {
        margin-bottom: 100px;
    }
    .tab__btn {
        padding: 19px 30px;
    }
    /*PRODUCT*/
    .product__photo-img {
        width: 350px;
        margin-right: 30px;
    }
    .product__option {
        margin-right: 0;
    }
    .product__prices.card {
        margin-bottom: 30px;
    }
    .product__input {
        margin-bottom: 30px;
    }
    .button__basket {
        width: 250px;
    }
    /*BASKET*/
    .basket__form-cross {
        margin-right: 20px;
    }
    .basket__form-link {
        margin-right: 80px;
    }
    .basket__form-price {
        margin-right: 80px;
    }
    .basket__form-amount {
        margin-right: 100px;
    }
    .button__coupon {
        margin-right: 100px;
    }
    .btn-ghost {
        padding: 22px 22px;
        font-size: 15px;
    }
    /*ORDER*/
    .form-order {
        margin-right: 100px;
    }
    /*CONTACTS*/
    .contact__map {
        width: 730px;
    }
    .contacts__wrap:not(:last-child) {
        margin-right: 30px;
    }
    /*CONFIRM*/
    .order__confirm-wrap {
        margin-right: 80px;
    }
    .order__confirm {
        margin-right: 20px;
    }
    /*ABOUT*/
    .about__paragraph {
        width: 350px;
    }
    .about__photo {
        width: 350px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header {
        padding-top: 34px;
    }
    .header__color {
        height: 506px;
        width: 50%;
    }
    .header__burger {
        display: block;
        margin-left: 100px;
    }
    .header__nav {
        display: none;
        position: fixed;
        left: 215px;
        margin-left: 0;
    }
    .header__nav.active {
        display: block;
        padding: 45px 20px;
        background-color: #F1EADC;
        top: 70px;
        border: 1px solid;
        transition: all 0.5s ease;
    }
    .header__tel {
        margin-left: 50px;
    }
    .modal-window {
        width: 380px;
        padding: 50px;
    }
    .modal__title {
        font-size: 20px;
        text-align: center;
    }
    .form__btn-modal {
        width: 250px;
        padding: 22px 50px;
    }
    .form-order__modal {
        align-items: center;
    }
    .modal-window2 {
        width: 450px;
        padding: 40px;
    }
    .modal__sms {
        text-align: center;
    }
    .header__section {
        padding-bottom: 100px;
    }
    .header__offer {
        padding: 0px 30px 50px 0;
    }
    .header__offer-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .header__offer-text {
        margin-left: 0;
        text-align: left;
        width: 250px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .hero__photo {
        width: 250px;
    }
    .header__photo2 {
        width: 100px;
        top: 110px;
        right: 0px;
    }
    .header__photo3 {
        width: 100px;
        top: 243px;
        right: 170px;
    }
    .header__offer-btn {
        padding: 18px 30px;
        font-size: 15px;
    }
    .arrow-down {
        padding: 18px 20px;
    }
    .arrow-down__image {
        height: 25px;
    }
    .header__offer-dots {
        margin-left: 86px;
    }
    .section {
        padding-bottom: 100px;
    }
    .products__title {
        font-size: 35px;
        margin-bottom: 72px;
    }
    .products__cards {
        align-items: center;
    }
    .product__card {
        margin-right: 30px;
        margin-bottom: 50px;
    }
    .product__card:nth-child(2n) {
        margin-right: 0;
    }
    
    .product__card.shop:nth-child(3n){
        margin-right: 30px;
    }
    .product__card.shop:nth-child(2n) {
        margin-right: 0;
    }
    .product__img {
        width: 250px;
    }
    .photo-overlay {
        width: 250px;
    }
    .overlay-arrow {
        padding: 156px 109px;
    }
    .important__title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 72px;
    }
    .important__aspects {
        flex-direction: column;
        align-items: center;
    }
    .important__aspect {
        align-items: center;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .important__aspect:last-child {
        margin-bottom: 0;
    }
    .important__aspect-text {
        width: 500px;
        text-align: center;
    }
    .team__title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 72px;
    }
    .team__photo {
        width: 450px;
    }
    .btn-prev ,
    .btn-next {
        top: 150px;
    }
    .team-dots {
        bottom: 31px;
    }
    .footer {
        padding: 80px 0;
    }
    .footer__nav-list {
        flex-direction: column;
    }
    .footer__policy {
        margin-right: 50px;
    }
    .footer__nav {
        margin-right: 70px;
    }
    .sub-menu {
        margin: 10px 0;
    }
    /*SHOP*/
    .section__shop {
        padding-top: 80px;
    }
    .breadcrumbs {
        margin-bottom: 80px;
    }
    .breadcrumbs-item {
        font-size: 15px;
    }
    .tab__btn {
        font-size: 15px;
        padding: 10px 19px;
        margin-right: 0;
    }
    .shop__products {
        margin-bottom: 50px;
    }
    /*PRODUCTS*/
    .product__photo-img {
        width: 250px;
    }
    .product__price.price-old.card {
        font-size: 30px;
        margin-right: 20px;
    }
    .product__price.card {
        font-size: 25px;
    }
    .product__title.card {
        font-size: 17px;
        margin-bottom: 25px;
    }
    .product__size-item:not(:last-child) {
        margin-right: 10px;
    }
    .button__basket {
        width: 200px;
    }
    .product__amount {
        width: 50px;
        height: 50px;
        font-size: 17px;
        outline: none;
    }
    .button__basket {
        padding: 15px 20px;
    }
    /*BASKET*/
    .basket__form-sell-head {
        font-size: 17px;
        padding-bottom: 16px;
    }
    .basket__form-cross {
        margin-right: 10px;
    }
    .basket__form-img {
        width: 100px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .basket__form-link {
        margin-right: 50px;
    }
    .basket__form-price {
        margin-right: 50px;
    }
    .basket__form-amount {
        margin-right: 80px;
        outline: none;
    }
    .form-coupon {
        width: 150px;
    }
    .button__coupon {
        margin-right: 30px;
    }
    .btn-ghost {
        padding: 15px 22px;
    }
    .basket__form-total {
        font-size: 20px;
    }
    /*ORDER*/
    .form-order {
        margin-right: 50px;
    }
    .form-order__form {
        width: 250px;
    }
    /*CONFIRM*/
    .order__confirm-wrap {
        margin-right: 50px;
    }
    .order__confirm-btn {
        width: 300px;
    }
    /*ABOUT*/
    .about__wrap {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .about__title {
        order: 1;
    }
    .about__photo {
        order: 3;
    }
    .about__paragraph {
        width: 500px;
    }
    .about__text {
        order: 2;
        margin-bottom: 20px;
    }
    /*CONTACTS*/
    .contact__map {
        width: 530px;
    }
    .contacts__wrapper {
        margin-bottom: 80px;
        flex-direction: column;
    }
    .contacts__wrap:not(:last-child) {
        margin-bottom: 30px;
    }
    .contacts__proof {
        padding: 20px;
        margin-top: 50px;
    }
    .contacts__proof-text {
        font-size: 15px;
    }
}

/* Small-L: 425px - 575px */
@media (max-width: 575px) {
    .container {
        max-width: 390px;
    }
    .header {
        padding-top: 34px;
    }
    .header__burger {
        margin-left: 80px;
    }
    .header__nav {
        left: 60px;
    }
    .header__tel-link {
        display: none;
    }
    .header__color {
        height: 482px;
    }
    .header__section {
        padding: 20px 0 80px;
    }
    .header__offer {
        padding: 0px 20px 10px 0;
    }
    .header__offer-title {
        font-size: 25px;
    }
    .header__offer-text {
        width: 170px;
    }
    .arrow-down {
        display: none;
    }
    .hero__photo {
        width: 200px;
        margin-top: 30px;
    }
    .header__photo2 {
        display: none;
    }
    .header__photo3 {
        display: none;
    }
    .header__offer-btn {
        padding: 18px 20px;
    }
    .header__offer-dots {
        margin-left: 0;
    }
    .section {
        padding-bottom: 80px;
    }
    .products__title {
        font-size: 25px;
        margin-bottom: 65px;
        text-align: center;
    }
    .products__cards {
        flex-direction: column;
    }
    .product__card {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .product__card.shop:nth-child(3n) {
        margin-right: 0px;
    }
    .product__img {
        width: 300px;
    }
    .photo-overlay {
        width: 300px;
    }
    .overlay-arrow {
        padding: 190px 134px;
    }
    .important__title {
        font-size: 25px;
        margin-bottom: 65px;
        text-align: center;
    }
    .important__aspect-text {
        width: 400px;
    }
    .team__title {
        font-size: 25px;
        margin-bottom: 65px;
        text-align: center;
    }
    .team__photo {
        width: 340px;
    }
    .btn-prev,
    .btn-next {
        top: 120px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
    .team-dots {
        bottom: 81px;
    }
    .footer {
        padding: 60px 0;
    }
    .footer-wrap {
        flex-wrap: wrap;
    }
    .footer__nav {
        order: 1;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .footer__policy {
        order: 2;
    }
    .footer__contact {
        order: 3;
    }
    .footer__nav-list {
        flex-direction: row;
    }
    .footer__nav-item {
        margin-right: 40px;
    }
    .footer__social {
        margin-bottom: 18px;
    }
    /*SHOP*/
    .section__shop {
        padding: 50px 0 80px;
    }
    .shop__title {
        text-align: center;
    }
    .breadcrumbs {
       display: none;
    }
    .shop__tabs {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .tab__btn {
        padding: 20px 30px;
        margin-bottom: 15px;
    }
    .shop__products {
        font-size: 15px;
        margin-bottom: 40px;
    }
    /*PRODUCT*/
    .shop-product__card {
        padding: 50px 0 80px;

    }
    .product__wrap {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    .product__photo-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .cards__title {
        margin-bottom: 60px;
    }
    .product__card.card:not(:last-child) {
        margin-bottom: 20px;
    }
    /*BASKET*/
    .table-scroll {
        overflow: auto;
        position: relative;
    }

    .table-scroll table {
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .basket__form-sell {
        font-size: 15px;
        overflow-y: auto;
    }

    .basket__form-price {
        margin-right: 30px;
    }
    .basket__form-amount {
        width: 37px;
        height: 37px;
        margin-right: 60px;
    }
    .form-basket__table {
        margin-bottom: 50px;
    }
    .basket__form-coupon {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .button__coupon {
        margin-right: 0;
    }
    .button__update {
        margin-top: 20px;
    }
    .basket__form-total-wrap {
        width: 100%;
    }
    .basket__form-summa {
        align-self: start;
    }
    .basket__form-total-all {
        flex-wrap: wrap;
    }
    .basket__form-total {
        padding: 20px;
    }
    .basket__form-total-btn {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    /*ORDER*/
    .form-order__wrap {
        flex-direction: column;
        align-items: center;
    }
    .form-order {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .form-order:last-child {
        margin-bottom: 50px;
    }
    .form-order__table {
        margin-bottom: 60px;
    }
    /*CONFIRM*/
    .confirm__wrap {
        flex-direction: column;
    }
    .order__confirm-title {
        font-size: 20px;
        margin: 0 auto;
    }
    .order__confirm {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .order__confirm-wrap {
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .order__confirm-text {
        font-size: 15px;
    }
    .order__confirm-btn {
        margin: 0 auto;
    }
    
    /*ABOUT*/
    .about__paragraph {
        width: 380px;
    }
    /*CONTACTS*/
    .contact__map {
        width: 400px;
    }
    .contacts__wrap {
        margin-right: 0;
    }
    .contacts__name {
        margin-bottom: 20px;
    }
    .contact__title {
        margin-bottom: 50px;
    }
    .form-about {
        width: 350px;
    }
}

/* Extra small: 0px (320px) - 424px */
@media (max-width: 424px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .header {
        padding-top: 20px;
    }
    .header__color {
        width: 65%;
        height: 430px;
    }
    .header__burger {
        margin-left: 30px;
    }
    .header__nav {
        left: 18px;
    }
    .header__nav.active {
        top: 50px;
        padding: 20px 0;
    }
    .header__nav-item {
        margin-right: 15px;
    }
    .header__tel {
        margin-right: 25px;
        margin-left: 25px;
    }
    .modal-window {
        width: 250px;
        padding: 30px;
    }
    .form-order__input{
        width: 100%;
    }
    .form__btn-modal {
        width: 100%;
    }
    .close {
        right: 12px;
        top: 12px;
    }
    .modal__title {
        margin-bottom: 25px;
    }
    .modal-window2 {
        width: 100%;
        padding: 20px;
    }
    .header__basket-img {
        width: 20px;
    }
    .header__section {
        padding-bottom: 60px;
    }
    .header__wrapper {
        flex-direction: column-reverse;
    }
    .header__offer {
        padding: 30px 0px 30px 0;
    }
    .header__offer-title {
        text-align: center;
    }
    .header__offer-text {
        width: 300px;
        text-align: center;
        line-height: 1.1em;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .hero__photo {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .header__photo2 {
        display: block;
        top: 80px;
        right: 15px;
    }
    .header__photo3 {
        display: block;
        top: 160px;
    }
    .header__offer-button {
        margin: 0 auto;
    }
    .header__offer-btn {
        padding: 10px 20px;
    }
    .header__offer-dots {
        margin-left: 100px;
    }
    .section {
        padding-bottom: 50px;
    }
    .products__title {
        margin-bottom: 50px;
    }
    .product__img {
        width: 250px;
    }
    .photo-overlay {
        width: 250px;
    }
    .overlay-arrow {
        padding: 156px 109px;
    }
    .important__title {
        margin-bottom: 50px;
    }
    .important__aspect {
        margin-bottom: 30px;
    }
    .important__aspect-title {
        font-size: 20px;
    }
    .important__aspect-text {
        width: 100%;
    }
    .important__quality {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
    }
    .team__photo {
        width: 100%;
    }
    .btn-prev,
    .btn-next {
        top: 100px;
    }
    .team-dots {
        bottom: 71px;
    }
    .footer__nav-link {
        font-size: 14px;
    }
    .footer__nav-item {
        margin-right: 13px;
    }
    .footer__logo-img {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footer__policy {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footer__social {
        justify-content: center;
    }
    .footer__contact {
       margin: 0 auto;
       text-align: start;
    }
    .footer__payment, 
    .footer__policy-copyright, 
    .footer__policy-konf, 
    .footer__policy-oferta {
        margin: 0 auto;
    }
    /*BASKET*/
    .breadcrumbs-item {
        font-size: 12px;
    }
    .breadcrumbs-item:not(:last-child)::after {
        margin-right: 5px;
        margin-left: 5px;
    }
    .shop__title {
        font-size: 30px;
        text-align: center;
    }
    .basket__form-amount {
        margin-right: 30px;
    }
    .basket__cross {
        width: 10px;
    }
    .basket__form-img {
        margin-right: 10px;
    }
    .basket__form-link {
        margin-right: 30px;
    }
    .basket__form-price {
        margin-right: 5px;
    }
    .basket__form-amount {
        margin-right: 15px;
    } 
    .form-coupon {
        font-size: 14px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .basket__form-total-wrap {
        width: 100%;
    }
    .btn-ghost {
        width: 200px;
        padding: 20px 20px;
    }
    .button__update {
        margin: 0 auto;
        margin-top: 20px;
    }
    /*ABOUT*/
    .about__paragraph {
        width: 100%;
        text-align: center;
    }
    .about__title {
        text-align: center;
    }
    .about__photo {
        width: 100%;
    }
    .about__wrap {
        margin-bottom: 50px;
    }
    /*CONTACTS*/
    .contact__map {
        width: 100%;
    }
    .form-about {
        width: 100%;
    }
    .form-about__input {
        width: 100%;
    }
}
